# Dependencies
node_modules/
.npm/

# OS files
.DS_Store

# Package artifacts
*.tgz
*.zip

# Build outputs
dist/
build/
.dart_tool/

# Specific package ignores
packages/react/dist/
packages/core/dist/
packages/flutter/.dart_tool/
packages/flutter/build/
packages/flutter/pubspec.lock
